.tblhead{
    text-align: center; background-color: #ced0b7;
}
.table, .table-bordered{
    text-align: center;
}

input{
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
}
.error{
    color: red;
}