<filter-panel title="{{'label.filter'|translate}}">
    <div class="row">
        <div class="col-sm-2">
            <select [(ngModel)]="regionFilter.depart" class="form-control">
                <option value="">{{'label.all'|translate}}</option>
                <option *ngFor="let depart of departments" [value]="depart">{{depart}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="regionFilter.keyword" class="form-control input-search" placeholder="{{'admin.region.name'|translate}}" />
        </div>
        <div class="col-sm-2">
            <select [(ngModel)]="regionFilter.used" class="form-control">
                <option value="">{{'label.all'|translate}}</option>
                <option value="Y">{{'admin.region.used_y'|translate}}</option>
                <option value="N">{{'admin.region.used_n'|translate}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button style="min-width: 80px;" type="button" (click)="handleSearch($event)" class="btn btn-primary">{{'label.search'|translate}}</button>
            <button style="min-width: 80px;" type="button" (click)="handleCreate($event)" class="btn btn-success">{{'label.create'|translate}}</button>
        </div>
    </div>
</filter-panel>
<div class="row">
    <div class="col-sm-12">
        <smart-table [settings]="regionSetting" [sources]="regions" (onTableChange)="handleTableChange($event)">
        </smart-table>
    </div>
</div>