<table [class]="getTableClassName()" [ngStyle]="getTableStyle()">
    <thead>
        <tr *ngFor="let hrow of generateHeader(); let rIdx = index" [ngStyle]="getTRHeaderStyle()">
            <th *ngFor="let h of hrow"
                [attr.colspan]="h.colspan" 
                [attr.rowspan]="h.rowspan" 
                id="{{h.id}}"
                [ngStyle]="getHeaderColStyle(h, rIdx)"
                [class]="generateHeaderCellClass(h, rIdx)"
                (click)="handleClickHeaderCell(h, rIdx, $event)"
            >{{settings.table.translate ? (h.title|translate) : h.title}}</th>
        </tr>
    </thead>
    <tbody [ngStyle]="getTBodyStyle()">
        <ng-template ngFor let-item [ngForOf]="sources" let-rIdx="index">
            <tr [ngStyle]="getRowStyle(item, rIdx)" id="{{settings.table.id +'_'+ rIdx}}" class="hoverable">
                <ng-template ngFor let-colId [ngForOf]="columnIds">
                    <td *ngIf="settings.column[colId].renderType == 'cmp'"
                        [ngStyle]="getColStyle(colId)"
                        [class.clickable]="settings.column[colId].clickable"
                        (click)="handleCellClick({colId: colId, item: item, containerId: settings.table.id + '_sub_div_'+rIdx, rowIndex: rIdx}, $event)">
                        <dynamic-component [componentData]="generateCellOutputCmp(item, colId)"></dynamic-component>
                    </td>
                    <td *ngIf="settings.column[colId].renderType != 'cmp'"
                        [innerHTML]="generateCellOutput(item, colId)|sanitizeHtml" 
                        [ngStyle]="getColStyle(colId)"
                        [class.clickable]="settings.column[colId].clickable"
                        (click)="handleCellClick({colId: colId, item: item, containerId: settings.table.id + '_sub_div_'+rIdx, rowIndex: rIdx}, $event)"
                    ></td>    
                </ng-template>
            </tr>
            <ng-template [ngIf]="generateSubRow(item, rIdx)">
            <tr id="{{settings.table.id + '_sub_' + rIdx}}">
                <td [attr.colspan]="columnIds.length" class="sub-row-td">
                    <div id="{{settings.table.id + '_sub_div_' + rIdx}}" class="sub-row-div">
                        <dynamic-component [componentData]="subRows['_' + rIdx]"></dynamic-component>
                    </div>
                </td>
            </tr>
            </ng-template>
        </ng-template>
        <tr *ngIf="!sources || sources.length == 0">
            <td colspan="100%">
                <span class="lead text-danger">{{'message.no_results' | translate}}</span>
            </td>
        </tr>
    </tbody>
    <ng-content></ng-content>
</table>