.smart-table {
    width: auto;
    border-color: #acacac;
}
.smart-table th {
    text-align: center;
    vertical-align: middle;
    background-color: #d4d4d4;
    border-color: #acacac;
}

.smart-table td {
    border-color: #acacac;
}

.smart-table tbody tr.hoverable:hover {
    background-color: #EEEEEE;
}

.smart-table tbody td.clickable {
   color: #2fa4e7;
   cursor: pointer;
}

.smart-table tbody .sub-row-td {
    padding: 0px;
    text-align: center;
}

.smart-table tbody .sub-row-div {
    text-align: center;
    width: 100%;
}

.smart-table tfoot td {
    background-color: #bcb58c;
}