.font-bold{
    font-weight: bold;
}
.dealer-header{
    text-align: center;
}
.highlight{
    color: green;
}

.td-mix-table{
    border-right:1px solid #dddddd ;padding:8px; width: 100px;
    overflow: hidden;
}
.td-mix-table-bold{
    border-right:1px solid #dddddd ;padding:8px; width: 100px;font-weight: bold;
    overflow: hidden;
}
.border-header-row{
    border-bottom:1px solid #dddddd ;border-right:1px solid #dddddd ;padding:8px; width: 100px;
    overflow: hidden;
}