<!--<filter-panel>-->
    <!--<div class="row">-->

        <!--<div class="col-sm-2">-->
            <!--<select [(ngModel)]="searchFilter.typeSale" class="form-control" id="typeSale">-->
                <!--<option value="0" selected>매출시점 기준</option>-->
                <!--<option value="1">시작일 기준</option>-->
            <!--</select>-->
        <!--</div>-->

        <!--<div class="col-sm-3">-->
            <!--<date-range [(startDate)]="searchFilter.startDate" [(endDate)]="searchFilter.endDate"-->
                        <!--required></date-range>-->
        <!--</div>-->
        <!--<div class="col-sm-2">-->
            <!--<input type="text" size="10" [(ngModel)]="searchFilter.searchKey"-->
                   <!--class="form-control input-search"/>-->
        <!--</div>-->
        <!--<div class="col-sm-2">-->
            <!--<button style="min-width: 80px;" type="button" (click)="onSearch()" class="btn btn-primary">-->
                <!--{{'label.search'|translate}}-->
            <!--</button>-->
            <!--<button style="min-width: 80px;" type="button" (click)="onReset()" class="btn btn-warning">-->
                <!--{{'label.reset'|translate}}-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<input type="text" size="5" name="s_view_count" id="s_view_count" [(ngModel)]="searchFilter.pageLimit"> 개-->
            <!--(최대 : 10000)-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<filter-btn [sources]="cat1Depths" (onSelect)="handleClickCat1Depth($event)"></filter-btn>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<filter-btn [sources]="cat2Depths" (onSelect)="handleClickCat2Depth($event)"></filter-btn>-->
        <!--</div>-->
    <!--</div>-->
<!--</filter-panel>-->
<!--<label *ngIf="pagination.totalItems">{{pagination.totalItems|number}} results.</label>-->
<!--<div id="deal-list-tab-content" class="tab-content">-->
    <!--<smart-table [settings]="settings" [sources]="sources" (onTableChange)="handleTableChange($event)">-->
    <!--</smart-table>-->
<!--<div>-->
    <!--<pagination [(ngModel)]="pagination.pageRequest.page" (pageChanged)="onPaginationChanged($event)" [boundaryLinks]="false" [totalItems]="pagination.totalItems"-->
                <!--[maxSize]="10" [itemsPerPage]="pagination.itemPerPage" class="pagination-sm"-->
                <!--previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>-->
<!--</div>-->

<!--</div>-->
