<div class="container">
  <div class="row">
    <select [(ngModel)]="chartType" name="chartType" (change)="changeChart(chartType)">
      <option value="0" selected>일별 매출액 차트</option>
      <option value="1">일별 매출액 누적 차트</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-10">
      <svg width="900" height="500"></svg>
    </div>
    <div class="col-md-2">
      <div class="legend">
        <p *ngIf="providers.indexOf('cpn2') > -1" class="legend-coupang" > &nbsp;&nbsp;COUPANG</p>
        <p *ngIf="providers.indexOf('cj') > -1" class="legend-cj"> &nbsp;&nbsp;CJ O Clock</p>
        <p *ngIf="providers.indexOf('wmp') > -1" class="legend-wemakeprice"> &nbsp;&nbsp;WEMAKEPRICE</p>
        <p *ngIf="providers.indexOf('tmn') > -1 || providers.indexOf('tmnw') > -1" class="legend-tmon"> &nbsp;&nbsp;TMON</p>
        <p *ngIf="providers.indexOf('grp') > -1" class="legend-gmarket"> &nbsp;&nbsp;GMARKET</p>
      </div>
    </div>
  </div>
</div>