<!--<filter-panel>-->
    <!--<div class="row">-->
        <!--<label for="category" class="col-sm-1 col-form-label" style="width: 3%">경쟁사</label>-->
        <!--<div class="col-sm-2" style="width: 9%">-->
            <!--<select [(ngModel)]="optionSummaryFilter.competitor" class="form-control" id="competitor" style="width: 100px;">-->
                <!--<option value="tmn" selected>티켓몬스터</option>-->
                <!--<option value="cpn2">쿠팡</option>-->
                <!--<option value="wmp">위메프</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<label for="category" class="col-sm-1 col-form-label" style="width: 4%">카테고리</label>-->
        <!--<div class="col-sm-2"  style="width: 8%">-->
            <!--<select [(ngModel)]="optionSummaryFilter.category" class="form-control" id="category">-->
                <!--<option value="-1">전체</option>-->
                <!--<option *ngFor="let category of categories" [ngValue] = "category.key">{{category.value}}</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<label for="startEndDate" class="col-sm-1 col-form-label" style="width: 3%">대상일</label>-->
        <!--<div class="col-sm-3" style="width: 22%">-->
            <!--<date-range id="startEndDate" [(startDate)]="optionSummaryFilter.startDate" [(endDate)]="optionSummaryFilter.endDate"-->
                        <!--required></date-range>-->
        <!--</div>-->
        <!--<label for="startEndDate" class="col-sm-1 col-form-label" style="width: 4%">검색조건</label>-->
        <!--<div class="col-sm-2" style="width: 10%">-->
            <!--<input type="text" class="form-control" id="search" style="width: 130px;" [(ngModel)]="optionSummaryFilter.search">-->
        <!--</div>-->
        <!--<div class="col-sm-2" style="width: 13%">-->
            <!--<input type="radio" id="deal" value="deal" name="type" class="form-check-input"-->
                   <!--[(ngModel)]="optionSummaryFilter.type">-->
            <!--<label for="deal" class="form-check-label">Deal</label>-->
            <!--<input type="radio" id="option" value="option" name="type" class="form-check-input" [checked]="optionSummaryFilter.dealOptionKeyword"-->
                   <!--[(ngModel)]="optionSummaryFilter.type">-->
            <!--<label for="option" class="form-check-label">Option</label>-->
            <!--<input type="radio" id="keyword" value="keyword" name="type" class="form-check-input"-->
                   <!--[(ngModel)]="optionSummaryFilter.type">-->
            <!--<label for="keyword" class="form-check-label">Keyword</label>-->
        <!--</div>-->
        <!--<div class="col-sm-2" style="width: 10%">-->
            <!--<input type="checkbox" id="hideStartEndDate" class="form-check-input" [checked]="optionSummaryFilter.hideStartEndDate"-->
                   <!--[(ngModel)]="optionSummaryFilter.hideStartEndDate">-->
            <!--<label for="hideStartEndDate" class="form-check-label">시작/종료일 숨기기</label>-->
        <!--</div>-->
        <!--<div class="col-sm-2" style="width: 13%">-->
            <!--<button style="width: 70px;" type="button" (click)="search()" class="btn btn-primary">-->
                <!--검색-->
            <!--</button>-->
            <!--&nbsp;-->
            <!--<button style="width: 70px;" type="button" (click)="exportExcel()" class="btn btn-primary">-->
                <!--EXCEL-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--<smart-table [settings]="settings" [sources]="optionSummaries" (onTableChange)="handleTableChange($event)">-->
<!--</smart-table>-->
<!--</filter-panel>-->