<div class="filter-container">
  <table class="table table-bordered">
    <tr>
      <td class="filter-head-1">{{'label.sale_date'|translate}}</td>
      <td colspan="3">
        <date-range [(startDate)]="filter.startDate" [(endDate)]="filter.endDate" required></date-range>
        <br/><label>{{'label.recommend_range_date'|translate}}</label>
      </td>
    </tr>
  </table>
</div>
<div class="filter-action">
  <button style="width: 120px;" type="button" (click)="onSearch()" class="btn btn-primary">{{'label.search'|translate}}</button>
  <!--<button style="min-width: 80px;" type="button" (click)="onReset()" class="btn btn-warning">{{'label.reset'|translate}}</button>-->
  <button style="width: 120px;" type="button" (click)="applyChanges()" class="btn btn-success">
    {{'label.applyChanges'|translate}}
  </button>
</div>
<div style="width: 100%">
  <div id="competitor-by-category-list" style="overflow-x: auto;">
    <smart-table [settings]="dataSettings" [sources]="dataContents" (onTableChange)="handleDealSaleTableAction($event)"></smart-table>
  </div>
  <div style="text-align: center">
    <pagination [(ngModel)]="pageRequest.page" (pageChanged)="onPaginationChanged($event)" [boundaryLinks]="false"
                [totalItems]="pageRequest.totalItems" [maxSize]="10" [itemsPerPage]="pageRequest.size" class="pagination-sm"
                previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
  </div>
</div>