<!--<div style="float: left; margin-top: 20px;margin-left: 100px;">-->
  <!--<select (change)="changeChart(chart)">-->
    <!--<option value="0">일별 매출액 차트</option>-->
    <!--<option value="1">일별 매출액 누적 차트</option>-->
  <!--</select>-->

<!--</div>-->
<!--<div class="row" style="width: 1340px;">-->
  <!--<div class="col-md-10">-->
    <!--<svg width="800" height="400"></svg>-->
  <!--</div>-->
<!--</div>-->

<!--<div style="max-height:500px;overflow:auto;width: 1340px;margin-left: 100px">-->
  <!--<smart-table [settings]="productHistSettings" [sources]="options" (onTableChange)="handleTableChange($event)">-->
  <!--</smart-table>-->
<!--</div>-->
