<div class="modal-dialog" style="width: 850px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="cancel()" >&times;</button>
            <h4 class="modal-title">{{'notification.createNotification' | translate}}</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <tr>
                    <td class="filter-head-1">{{'notification.pageName'|translate}}</td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="checkbox" [(ngModel)]="model.pageSummary"/>{{'nav.category_group'|translate}}
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="model.pageDealDetail"/>{{'nav.deallist'|translate}}
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="model.pageNaver"/>{{'nav.naversearch'|translate}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" [(ngModel)]="model.pageGR"/>{{'nav.admin.gross-report'|translate}}
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="model.pagePriceComparision"/>{{'nav.admin.productPriceComparison'|translate}}
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="model.pageBestOptions"/>{{'nav.bestoptions'|translate}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="filter-head-1">{{'notification.exposurePeriod'|translate}}</td>
                    <td>
                        <date-time-range [(startDate)]="model.startDate" [(hourAtStartDate)]="model.hourAtStartDate"
                                         [(minuteAtStartDate)]="model.minuteAtStartDate" [(endDate)]="model.endDate"
                                         [(hourAtEndDate)]="model.hourAtEndDate" [(minuteAtEndDate)]="model.minuteAtEndDate"  required></date-time-range>
                    </td>
                </tr>
                <tr>
                    <td class="filter-head-1">{{'notification.content'|translate}}</td>
                    <td>
                        <quill-editor id="quill-editor-custom-max-height"
                                      theme="snow"
                                      [modules]="memoModules"
                                      [(ngModel)]="model.content"
                                      (onContentChanged)="onContentChanged($event)">
                        </quill-editor>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">{{'label.save' | translate}}</button>
            <button type="button" class="btn btn-default" (click)="cancel()">{{'label.cancel' | translate}}</button>
        </div>
    </div>
</div>