<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen">
  <div class='panel-heading' style='font-size:large'>
    {{pageTitle}}
  </div>
  <!--<input class="form-control"-->
         <!--id="keywordId"-->
         <!--type="text"-->
         <!--placeholder="Keywords"-->
         <!--style="width: 200px;"-->
         <!--[(ngModel)]="expenseFilter.name"-->
         <!--(keyup)="onFilter()"-->
  <!--/>-->

  <form class="form-horizontal" novalidate
        [formGroup]="promotionFrom">
    <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
      <table class="table table-bordered table-hover" style="width: 1145px;">
        <thead style="color: #337AB7">
        <th class="col-sm-1">id</th>
        <th class="col-sm-2">Title</th>
        <th class="col-sm-4">Content</th>
        <th class="col-sm-2">Start Date</th>
        <th class="col-sm-2">End Date</th>
        <th class="col-sm-1">Bank Name</th>
        <th class="col-sm-1">Category Name</th>
        </thead>
        <tbody *ngIf="promotionPresenter">
        <tr>
          <td>
            <!--//Id Column-->
          </td>
          <td>
          <input class="form-control"
                 id="title"
                 type="text"
                 placeholder="Title (required)"
                 formControlName="title"
                 (keyup.enter)="addExpense()"
                 (keyup)="onDisplaySaveButton()"
          />
        </td>
          <td>
            <input class="form-control"
                   id="content"
                   type="text"
                   placeholder="Content (required)"
                   formControlName="content"
                   (keyup.enter)="addExpense()"
                   (keyup)="onDisplaySaveButton()"
            />
          </td>
          <td>
            <div class="input-group">
              <my-date-picker name="start_date" [options]="myOptions" style="width: 90px;"
                              formControlName="start_date"></my-date-picker>
            </div>
          </td>
          <td>
            <div class="input-group">
              <my-date-picker name="end_date" [options]="myOptions" style="width: 90px;"
                              formControlName="end_date"></my-date-picker>
            </div>
          </td>
          <td>

          </td>
          <td></td>
        </tr>



        <tr *ngFor="let promotion of promotionPresenter">
          <td>
            {{promotion.id}}
          </td>
          <td>
            <a class="promotion-title" href="{{promotion.url}}" style="={text-decoration: none!important ; color: black}">
              {{promotion.title}}
            </a>
          </td>
          <td>
            {{promotion.content}}
          </td>
          <td>
            {{promotion.start_date.dayOfMonth}}-{{promotion.start_date.monthValue}}-{{promotion.start_date.year}}
          </td>
          <td>
            {{promotion.end_date.dayOfMonth}}-{{promotion.end_date.monthValue}}-{{promotion.end_date.year}}
          </td>
          <td >
            <div *ngFor="let bank of bankPresenter">
              <p *ngIf="bank.id == promotion.bank_id ">
                {{bank.name}}
              </p>
            </div>
          </td>
          <td>
            <div *ngFor="let cate of catePresenter">
              <p *ngIf="cate.id == promotion.category_id ">
                {{cate.name}}
              </p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </form>
</div>
