 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cancel()">&times;</button>
        <h4 class="modal-title" *ngIf="model.isRegister">{{'register.title'|translate}}</h4>
        <h4 class="modal-title" *ngIf="!model.isRegister">{{'permissionChange.title'|translate}}</h4>
      </div>
      <div class="modal-body">
        <table class="register_tbl">
          <tr>
            <td class="td">{{'register.username'|translate}}</td><td class="td_val">{{model.username}}</td>
          </tr>
          <tr>
            <td class="td">{{'register.fullName'|translate}}</td><td class="td_val">{{model.fullName}}</td>
          </tr>
          <tr>
            <td class="td">{{'register.department'|translate}}</td><td class="td_val">{{(model.currentDepartment != null || model.currentDepartment !== undefined) ? model.currentDepartment.name : ""}}</td>
          </tr>

          <tr>
            <td class="td">
              {{'register.applyToSystem'|translate}}
            </td>
            <td class="td_val">
              <select [(ngModel)]="model.appliedToSystem">
                <option value="1">{{'register.snoopy1'|translate}}</option>
                <option value="2">{{'register.snoopy2'|translate}}</option>
                <option value="0">{{'register.snoopy12'|translate}}</option>
              </select>
            </td>
          </tr>

          <tr>
            <td class="td">{{'register.version'|translate}}</td><td class="td_val">{{model.version}}</td>
          </tr>
          <tr *ngIf="model.isRegister">
            <td class="td">{{'register.newDepartment'|translate}}</td>
            <td class="td_val">
              <div *ngFor="let department of model.departments" class="ls_dept">
                <input type="checkbox" [(ngModel)]="department.selected"/>
                <button value="{{department.id}}" (click)="selectDepartment(department)">{{department.name}}</button> </div>
            </td>
          </tr>

          <tr *ngIf="!model.isRegister">
            <td class="td">{{'permissionChange.currentDepartment'|translate}}</td>
            <td class="td_val">
              <div *ngFor="let department of model.departments" class="ls_dept">
                <input type="checkbox" [(ngModel)]="department.selected" disabled/>
                <button value="{{department.id}}" (click)="selectDepartment(department)" disabled>{{department.name}}</button> </div>
            </td>
          </tr>
          <tr *ngIf="!model.isRegister">
            <td class="td">{{'permissionChange.requestPermisson'|translate}}</td>
            <td class="td_val">
              <div *ngFor="let d of model.newDepartments" class="ls_dept">
                <input type="checkbox" [(ngModel)]="d.selected"/>
                <button value="{{d.id}}" (click)="selectDepartment(d)">{{d.name}}</button> </div>
            </td>
          </tr>
          <tr *ngIf="!model.isRegister">
            <td class="td">{{'permissionChange.reasonChange'|translate}}</td>
            <td class="td_val">
              <input type="text" [(ngModel)]="model.userMemo" style="width: 100%"/>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button *ngIf="model.isRegister" type="button" class="btn btn-primary" (click)="handleApplyAuthority()">{{'register.apply'|translate}}</button>
        <button *ngIf="!model.isRegister" type="button" class="btn btn-primary" (click)="handleChangeAuthority()">{{'permissionChange.requestChange'|translate}}</button>
        <button type="button" class="btn btn-default" (click)="cancel()">{{'register.cancel'|translate}}</button>
      </div>
    </div>
  </div>