<div class="container">
    <div class="card card-container">
        <language-selector></language-selector>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <label>{{ 'login.title' | translate}}</label>
            <span id="reauth-email" class="reauth-email"></span>
            <input [(ngModel)]="username" name="username" [placeholder]="'login.username_placeholder'|translate" type="text" id="inputEmail" class="form-control" required autofocus>
            <input [(ngModel)]="password" name="password" [placeholder]="'login.password_placeholder'|translate" type="password" id="inputPassword" class="form-control" required>
            <button (click)="doLogin()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{'login.sign_in' | translate}}</button>
        </form><!-- /form -->
        <span class="text-danger" *ngIf="hasError==true">{{'login.error' | translate}}</span>
    </div><!-- /card-container -->
</div><!-- /container -->