.blockui-overlay {
    background-color: white;
    cursor: wait;
}

.blockui-message-container {
    margin: 0;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10001;
    cursor: wait;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.spinner-overlay {
    background-color: white;
    cursor: wait;
}