<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen">
  <div class='panel-heading' style='font-size:large'>
    {{pageTitle}}
  </div>

  <form class="form-horizontal" novalidate
        [formGroup]="expenseForm">
    <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
      <table class="table table-bordered table-hover" style="width: 1145px;">
        <thead style="color: #337AB7">
        <th class="col-sm-2">Amount</th>
        <th class="col-sm-2">Date</th>
        <th class="col-sm-2">Name</th>
        <th class="col-sm-2">Payment Method</th>
        <th class="col-sm-2"></th>
        <th class="col-sm-1"></th>
        </thead>
        <tbody *ngIf="expensesDetails">
        <!--        ADD section       -->
        <tr>
          <td>
            <input class="form-control"
                   id="amountId"
                   type="text"
                   placeholder="Amount (required)"
                   formControlName="amount"
                   (keyup.enter)="addExpense()"
                   (keyup)="onDisplaySaveButton()"
            />
          </td>
          <td>
            <div class="input-group">
              <my-date-picker name="mydate" [options]="myOptions" style="width: 100px;"
                              formControlName="date"></my-date-picker>
            </div>
          </td>
          <td>
            <input class="form-control"
                   id="nameId"
                   type="text"
                   placeholder="Enter a name"
                   formControlName="name"
                   (keyup.enter)="addExpense()"
            />
          </td>
          <td>
            <select class="form-control"
                    id="paymentMethodId"
                    formControlName="paymentMethod"
                    (keyup.enter)="addExpense()"
            >
              <option value="" disabled selected hidden>Select a method...</option>
              <option value="-1">CASH</option>
              <option value="{{method.id}}" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
            </select>
          </td>
          <td>
            <button style="min-width: 80px;"  *ngIf="expenseForm.value.spending === false" (click)="onChangeSpending('spent')"  type="button" class="btn btn-default">
              Spent
            </button>
            <button *ngIf="expenseForm.value.spending === true" style="min-width: 80px;"type="button" class="btn btn-danger">
              Spent
            </button>
            <button style="min-width: 80px;" *ngIf="expenseForm.value.spending === true" (click)="onChangeSpending('earned')" type="button" class="btn btn-default">
              Earned
            </button>
            <button style="min-width: 80px;" *ngIf="expenseForm.value.spending === false" type="button" class="btn btn-success">
              Earned
            </button>
          </td>
          <td>
            <button *ngIf="isSaveButtonDisplayed === true" style="min-width: 20px;" (click)="onSave()" type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-save"></span>
            </button>
            <button *ngIf="isSaveButtonDisplayed === true" style="min-width: 20px;" (click)="onCancel()" type="button" class="btn btn-warning">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
        <tr *ngFor="let expense of expensesDetails.expenses">
          <td (click)="openUpdateExpense(expense)">
                            <span *ngIf="expense.id > 0">
                                {{expense.amount | currency:'VND':true:'1.2-2'}}
                            </span>
            <span *ngIf="(expense.id * -1) > 0">
                                <input class="form-control"
                                       id="amount_{{expense.id}}"
                                       type="text"
                                       value="{{expense.amount}}"
                                       formControlName="amount_edit"
                                       #amount_edit
                                       (keyup.enter)="updateExpense(expense)"
                                       (keyup)="updateExpense(expense)"
                                       (keyup.esc)="closeUpdateExpense(expense)"
                                />
              <!--{{amount_edit.focus()}}-->
                            </span>
          </td>
          <td (click)="openUpdateExpense(expense)">
                            <span *ngIf="expense.id > 0">
                                {{expense.date | date: 'dd-MM-yyyy'}}
                            </span>
            <span *ngIf="(expense.id * -1) > 0">
                                <my-date-picker name="date_edit"
                                                (click)="updateExpense(expense)"
                                                [options]="myOptions"
                                                (dateChanged)="onDateChanged($event)"
                                                formControlName="date_edit"></my-date-picker>
                            </span>
          </td>
          <td (click)="openUpdateExpense(expense)">
                            <span *ngIf="expense.id > 0">
                                {{expense.name}}
                            </span>
            <span *ngIf="(expense.id * -1) > 0">
                                <input class="form-control"
                                       id="name_{{expense.id}}"
                                       type="text"
                                       value="{{expense.name}}"
                                       formControlName="name_edit"
                                       (keyup.enter)="updateExpense(expense)"
                                       (keyup)="updateExpense(expense)"
                                       (keyup.esc)="closeUpdateExpense(expense)"
                                />
                            </span>
          </td>
          <td (click)="openUpdateExpense(expense)">
                <span *ngIf="expense.id > 0">
                  {{expense.moneySourceName}}
                </span>
            <span *ngIf="(expense.id * -1) > 0">
                    <select class="form-control"
                            id="paymentMethod_{{expense.id}}"
                            formControlName="paymentMethod_edit"
                            (change)="updateExpense(expense)"
                    >
                        <option value="-1" [selected]="expense.moneySourceId <= 0">CASH</option>
                        <option value="{{method.id}}" [selected]="expense.moneySourceId == method.id" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
                    </select>
                </span>
          </td>
          <td>
            <button *ngIf="expense.spending === false" (click)="onChangeSpendingInList('spent', expense.id)" style="min-width: 80px;" type="button" class="btn btn-default">
              Spent
            </button>
            <button *ngIf="expense.spending === true" style="min-width: 80px;" type="button" class="btn btn-danger">
              Spent
            </button>
            <button *ngIf="expense.spending === true" (click)="onChangeSpendingInList('earned', expense.id)" style="min-width: 80px;" type="button" class="btn btn-default">
              Earned
            </button>
            <button *ngIf="expense.spending === false" style="min-width: 80px;" type="button" class="btn btn-success">
              Earned
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-link" (click)="deleteExpense(expense.id)"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        <tr>
          <span style="color: red; font-weight: bold; font-size: large" *ngIf="expensesDetails.total <= 0">
              {{expensesDetails.total | currency:'VND':true:'1.2-2'}}
            </span>
          <span style="color: dodgerblue; font-weight: bold; font-size: large" *ngIf="expensesDetails.total > 0">
              {{expensesDetails.total | currency:'VND':true:'1.2-2'}}
            </span>
        </tr>
        </tbody>
      </table>
    </div>
  </form>


  <div class="panel panel-success">
    <div class="panel-heading">
      <button type="button" class="btn btn-link" (click)="hideAll()">Last Months</button>
    </div>
    <div class="panel-body" *ngIf="!allHide">
      <div class="panel panel-info" *ngFor="let year of yearsList">
        <div class="panel-heading">
            <button type="button" class="btn btn-link" (click)="hideYear(year)">{{year}}</button>
        </div>
        <div class="panel-body" *ngIf="!yearsListHide.get(year)">
          <!--        Content     -->
          <div class="panel panel-warning" *ngFor="let item of lastMonthsExpenses.get(year); let i = index">
            <div class="panel-heading">
              {{year}} - {{item.month}}
              <button type="button" class="btn btn-link" (click)="openExpenseItemsEdit(year, item.month)"><span class="glyphicon glyphicon-edit"></span></button>
            </div>
            <div class="panel-body">
              <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;" *ngIf="lastMonthsExpenses">
                <table class="table table-bordered table-hover" style="width: 1000px;">
                  <thead style="color: #337AB7">
                  <th class="col-sm-2">Amount</th>
                  <th class="col-sm-2">Date</th>
                  <th class="col-sm-2">Name</th>
                  <th class="col-sm-2">Payment Method</th>
                  <th class="col-sm-1"></th>
                  <th class="col-sm-1"></th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let expense of item.expenses">
                    <td>
                                <span *ngIf="expense.id > 0">
                                    {{expense.amount | currency:'VND':true:'1.2-2'}}
                                </span>

                    </td>
                    <td (click)="openUpdateExpense(expense)">
                                <span *ngIf="expense.id > 0">
                                    {{expense.date | date: 'dd-MM-yyyy'}}
                                </span>
                    </td>
                    <td (click)="openUpdateExpense(expense)">
                                <span *ngIf="expense.id > 0">
                                    {{expense.name}}
                                </span>

                    </td>
                    <td (click)="openUpdateExpense(expense)">
                    <span *ngIf="expense.id > 0">
                      {{expense.moneySourceName}}
                    </span>
                    </td>
                    <td>
                      <button *ngIf="expense.spending === true" style="min-width: 80px;" type="button" class="btn btn-danger">
                        Spent
                      </button>
                      <button *ngIf="expense.spending === false" style="min-width: 80px;" type="button" class="btn btn-success">
                        Earned
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-link" (click)="openExpenseItemEdit(expense)"><span class="glyphicon glyphicon-edit"></span></button>
                    </td>
                  </tr>
                  <tr>
                  <span style="color: red; font-weight: bold; font-size: large" *ngIf="item.total <= 0">
                      {{item.total | currency:'VND':true:'1.2-2'}}
                    </span>
                        <span style="color: dodgerblue; font-weight: bold; font-size: large" *ngIf="item.total > 0">
                      {{item.total | currency:'VND':true:'1.2-2'}}
                    </span>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <modal (modalOutput)="getData($event)">
  </modal>
</div>
