.td-mix-table{
    border-right:1px solid #dddddd ;padding:8px;white-space: nowrap;
}
.td-mix-table-bold{
    border-right:1px solid #dddddd ;padding:8px; font-weight: bold;white-space: nowrap;
}
.t-width{
    table-layout: fixed;width: 100%
}
.tb-tb{
    padding:0px;width: 100%
}

.table th {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #597D98;
}