<div>
    <tabset>
        <tab title="베스트 비교분석" active="true">
            <best-deals-comparison></best-deals-comparison>
        </tab>
        <tab title="T + G + W 베스트">
            <div class="filter-container">
              <table class="table table-bordered">
                <tr>
                  <td class="filter-head-1">{{'label.sale_date_time'|translate}}</td>
                  <td colspan="3">
                    <date-time-range [(startDate)]="filter.startDate" [(hourAtStartDate)]="filter.hourAtStartDate"
                                     [(minuteAtStartDate)]="filter.minuteAtStartDate" [(endDate)]="filter.endDate"
                                     [(hourAtEndDate)]="filter.hourAtEndDate" [(minuteAtEndDate)]="filter.minuteAtEndDate"  required></date-time-range>
                  </td>

                </tr>
                  <tr>
                      <td class="filter-head-1">{{'label.category'|translate}}</td>
                      <td colspan="3">
                          <select [(ngModel)]="filter.coId" (change)="resetCategoryFilter()" class="form-control filter-cmp" style="width: 20%">
                              <option *ngFor="let comp of competitors" value="{{comp.coId}}">{{comp.name}}</option>
                          </select>

                          <select [(ngModel)]="filter.categoryDepth1" class="form-control filter-cmp" style="width: 20%" (click)="handleShowCategoryDepth(1)" (change)="handleCategoryChange(1)">
                              <option value="">카테고리 1depth (전체)</option>
                              <option *ngFor="let item of categoryDepth1Items" value="{{item.cateNo}}">{{item.cateName}}</option>
                          </select>

                          <select [(ngModel)]="filter.categoryDepth2" class="form-control filter-cmp" style="width: 20%" (click)="handleShowCategoryDepth(2)" (change)="handleCategoryChange(2)">
                              <option value="">카테고리 2depth (전체)</option>
                              <option *ngFor="let item of categoryDepth2Items" value="{{item.cateNo}}">{{item.cateName}}</option>
                          </select>

                          <select [(ngModel)]="filter.categoryDepth3" class="form-control filter-cmp" style="width: 20%" (click)="handleShowCategoryDepth(3)" (change)="handleCategoryChange(3)">
                              <option value="">카테고리 3depth (전체)</option>
                              <option *ngFor="let item of categoryDepth3Items" value="{{item.cateNo}}">{{item.cateName}}</option>
                          </select>
                          <input type="checkbox" [(ngModel)]="removeDuplicatedRank"/>{{'label.removeDuplicatedRank'|translate}}

                      </td>
                  </tr>

                  <tr>
                    <td class="filter-head-1">{{'label.deal_name'|translate}}</td>
                    <td colspan="3">
                        <input type="text" size="10" id="dealName" [(ngModel)]="filter.dealName"
                               class="form-control input-search" style="width: 40%"/>
                        <span id="errorDealNameSp" style="display: none;">{{'message.error_invalid_input_text' | translate}}</span>
                    </td>
                </tr>
              </table>
            </div>
            <div class="filter-action">
              <button style="width: 120px;" type="button" (click)="onSearch()" class="btn btn-primary">{{'label.search'|translate}}</button>
              <button style="width: 120px;" type="button" (click)="onExportExcel()" class="btn btn-warning">{{'label.excel_export'|translate}}</button>
            </div>
            <div *ngIf="pagination.totalItems">
                <label><b>{{'productComparison.totalItems'|translate}} </b></label> {{('label.xResult' |translate).replace("{}", pagination.totalItems) }}
            </div>
            <div style="width: 100%">
              <div id="competitor-by-category-list" style="overflow-x: auto;">
                <smart-table [settings]="dataSettings" [sources]="bindedDataContents" (onTableChange)="handleTableChange($event)">

                </smart-table>
              </div>
              <div style="text-align: center">
                  <pagination [(ngModel)]="pagination.pageRequest.page" (pageChanged)="onPaginationChanged($event)"
                              [boundaryLinks]="false" [totalItems]="pagination.totalItems"
                              [maxSize]="10" [itemsPerPage]="pagination.itemPerPage" class="pagination-sm"
                              previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
              </div>
            </div>
        </tab>
        <tab title="N 인기상품">
            <naver-price-comparison></naver-price-comparison>
        </tab>
    </tabset>
</div>