<form #myForm="ngForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">&times;</button>
                <h4 class="modal-title">{{'admin.region.detail'|translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="departName">{{'admin.region.departName'|translate}}</label>
                    <input name="departName" type="text" class="form-control" required [(ngModel)]="model.departName" [typeahead]="departments"
                        typeaheadOptionField="name" />
                </div>
                <div class="form-group">
                    <label for="groupName">{{'admin.region.groupName'|translate}}</label>
                    <input name="groupName" type="text" class="form-control" required [(ngModel)]="model.groupName" [typeahead]="groups"
                        typeaheadOptionField="name" />
                </div>
                <div class="form-group">
                    <label for="name">{{'admin.region.name'|translate}}</label>
                    <input name="name" type="text" class="form-control" required [(ngModel)]="model.name" />
                </div>
                <div class="form-group">
                    <label for="used">{{'admin.region.used'|translate}}</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Y" [checked]="model.used=='Y'" (change)="handleUsedChange($event)">
                        <label class="form-check-label" for="used">{{'admin.region.used_y'|translate}}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="N" [checked]="model.used=='N'" (change)="handleUsedChange($event)">
                        <label class="form-check-label" for="unused">{{'admin.region.used_n'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="handleCancel()">{{'label.cancel'|translate}}</button>
                <button [disabled]="myForm.invalid" type="button" class="btn btn-primary" (click)="handleSubmit()">{{'label.save'|translate}}</button>
            </div>
        </div>
    </div>
</form>