#tbl-result td {
    vertical-align: middle;
}
.table-bordered thead tr th {
    text-align: center;
    color: #fff;
    background-color: #597D98;
    border: 0px solid #c6d5e1;
    border-right: none;
}

.filter-head-1 {
    vertical-align: middle;
    background: #f7f3ee;
    font-weight: bold;
}

.filter-head-2 {
    vertical-align: middle;
    background: #fde7d5;
    font-weight: bold;
}

input[type='number'] {
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']:hover::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }