<!-- <filter-panel>
    <div class="row">
        <div class="col-sm-1">
            <select [(ngModel)]="filter.baseDate" class="form-control" id="baseDate">
                <option value="saledate" selected>매출시점 기준</option>
                <option value="startdate">시작일 기준</option>
            </select>
        </div>

        <div class="col-sm-3">
            <date-range [(startDate)]="filter.startDate" [(endDate)]="filter.endDate" required></date-range>
        </div>
        <div class="col-sm-1">
            <select [(ngModel)]="viewMode" class="form-control" id="viewMode" (change)="onChangeViewMode($event)">
                <option value="" selected></option>
                <option value="competitor">경쟁사로 묶기</option>
                <option value="category">카테고리로 묶기</option>
            </select>
        </div>
        <div class="col-sm-1">
            <select [(ngModel)]="filter.dateUnit" class="form-control" id="dateUnit">
                <option value="" selected></option>
                <option value="daily">일 단위</option>
                <option value="weekly">주 단위</option>
                <option value="monthly">월 단위</option>

            </select>
        </div>

        <div class="col-sm-2">
            <button style="min-width: 80px;" type="button" (click)="onSearch()" class="btn btn-primary">{{'label.search'|translate}}</button>
            <button style="min-width: 80px;" type="button" (click)="onReset()" class="btn btn-warning">{{'label.reset'|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let comp of competitors">
                <input type=checkbox name="options" value="{{comp.coId}}" [checked]="comp.selected" (change)="updateCompetitorCheckedOptions(comp, $event)"
                /> {{comp.name}}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <filter-btn [sources]="cat1Depths" (onSelect)="handleClickCat1Depth($event)"></filter-btn>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <filter-btn [sources]="cat2Depths" (onSelect)="handleClickCat2Depth($event)"></filter-btn>
        </div>
    </div>
</filter-panel> -->
<div class="filter-container">
    <table class="table table-bordered">
        <tr>
            <td class="filter-head-1">{{'label.sale_date'|translate}}</td>
            <td>
                <date-range [(startDate)]="filter.startDate" [(endDate)]="filter.endDate" required></date-range>
                <br/><label>{{'label.recommend_range_date'|translate}}</label>
            </td>
            <td class="filter-head-2">{{'label.department'|translate}}</td>
            <td >
                <select [ngModel]="filter.departmentId" (change)="handleDepartmentChanged($event)" class="form-control filter-cmp" style="width: 30%">
                    <option value="" *ngIf="role ==='admin'">본부명(전체)</option>
                    <option value="" *ngIf="role ==='user' && departments.length > 1" >본부명(전체)</option>
                    <option *ngFor="let dep of departments" value="{{dep.id}}">{{dep.name}}</option>
                </select>
                <select [(ngModel)]="filter.teamId" class="form-control filter-cmp" style="width: 30%">
                    <option value="">팀명(전체)</option>
                    <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
                </select>
            </td>


        </tr>
        <tr>
            <td class="filter-head-1">{{'label.method'|translate}}</td>
            <td>
                <filter-btn [sources]="dateUnits" (onSelect)="handleChangeDateUnit($event)" single></filter-btn>
            </td>
            <td class="filter-head-2">{{'label.currencyUnit'|translate}}</td>
            <td>
                <filter-btn [sources]="currencyUnits" (onSelect)="handleChangeCurrencyUnit($event)" single></filter-btn>
            </td>
        </tr>
    </table>
</div>
<div class="filter-action">
    <button style="min-width: 80px;" type="button" (click)="onSearch()" class="btn btn-primary">{{'label.search'|translate}}</button>
    <button style="min-width: 80px;" type="button" (click)="onReset()" class="btn btn-warning">{{'label.reset'|translate}}</button>
    <button style="min-width: 80px;" type="button" (click)="onExportExcel()" class="btn btn-warning">
        {{'label.excel_export'|translate}}
    </button>
</div>
<div>
    <span class="head-title" style="background-color: #595959; border-color: #595959;color: #ffffff;">{{getSelectedDateUnitLabel()}}</span>
    <span class="head-title" style="background-color: #ff0001; border-color: #ff0001;color: #ffffff;">{{getSelectedDepartmentLabel()}}</span>
</div>
<div style="width: 100%">
    <div id="competitor-by-category-list" style="overflow-x: auto;">
        <smart-table [settings]="dataSettings" [sources]="dataContents">

        </smart-table>
    </div>
    <div style="text-align: center">
        <pagination [(ngModel)]="pageRequest.page" (pageChanged)="onPaginationChanged($event)" [boundaryLinks]="false"
            [totalItems]="pageRequest.totalItems" [maxSize]="10" [itemsPerPage]="pageRequest.size" class="pagination-sm"
            previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
    </div>
</div>