<div class="filter-container">
    <table class="table table-bordered" style="width: 1200px;">
        <tr>
            <td class="filter-head-1">{{'monitorUserActivities.label.checkingTime'|translate}}</td>
            <td colspan="3">
                <date-range [(startDate)]="filter.fromDateTime"
                            [(endDate)]="filter.toDateTime"></date-range>
            </td>

            <td class="filter-head-1">{{'monitorUserActivities.label.showingDetails'|translate}}</td>
            <td>
                <input type="checkbox" (change) ="onCheckedShowingDetails($event)"  [checked]="filter.isShowDetails"/>
            </td>
        </tr>
        <tr>
            <td class="filter-head-1">{{'monitorUserActivities.label.teamName'|translate}}</td>
            <td colspan="3">
                <div class="controls form-inline">
                    <select [(ngModel)]="filter.teamId" (change)="loadUsersByTeam($event)" class="form-control filter-cmp" style="width: 60%">
                        <option value="">팀명(전체)</option>
                        <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
                    </select>
                </div>
            </td>
            <td class="filter-head-1">{{'monitorUserActivities.label.selectMenu'|translate}}</td>
            <td>
                <select class="form-control" [(ngModel)]="filter.menuItem" style="width: 200px;display: inline;">
                    <option value="">업체명(전체)</option>
                    <option *ngFor="let menuItem of menuItems" value="{{menuItem.id}}">{{menuItem.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="filter-head-1">{{'monitorUserActivities.label.userName'|translate}}</td>
            <td colspan="3">
                <div class="controls form-inline">
                    <input type="text" size="32" id="searchUserName" [(ngModel)]="filter.searchUserName" maxlength="45"
                       class="form-control input-search"/>
                </div>
            </td>
            <td class="filter-head-1">{{'monitorUserActivities.label.ad'|translate}}</td>
            <td>
                <div class="controls form-inline">
                <input type="text" size="32" id="searchUserId" [(ngModel)]="filter.searchUserId" maxlength="32"
                       class="form-control input-search" />
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="filter-action">
    <button style="width: 120px; color: white;" type="button" (click)="onSearch()" class="btn btn-primary" [disabled]="disableSearch">{{'monitorUserActivities.button.search'|translate}}</button>
</div>
<div style="width: 100%">
    <div id="product-search" style="overflow-x: auto; max-height: 500px">
        <smart-table [settings]="activityDataSettings" [sources]="auditActionPagging">
        </smart-table>
    </div>
    <div style="text-align: center">
        <pagination [(ngModel)]="pagination.pageRequest.page" (pageChanged)="onPaginationChanged($event)"
                    [boundaryLinks]="false" [totalItems]="pagination.totalItems"
                    [maxSize]="10" [itemsPerPage]="pagination.itemPerPage" class="pagination-sm"
                    previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
    </div>
</div>
<div style="width: 100%" [hidden]="!filter.isShowDetails" >
    <div id="sub-product-search" style="overflow-x: auto; max-height: 500px">
        <smart-table [settings]="subActivityDataSettings" [sources]="subAuditActionPagging">
        </smart-table>
    </div>
    <div style="text-align: center">
        <pagination [(ngModel)]="subPagination.pageRequest.page" (pageChanged)="onSubPaginationChanged($event)"
                    [boundaryLinks]="false" [totalItems]="subPagination.totalItems"
                    [maxSize]="10" [itemsPerPage]="subPagination.itemPerPage" class="pagination-sm"
                    previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
    </div>
</div>