.td-mix-table{
    border-right:1px solid #dddddd ;padding:8px; width: 100px;
}
.td-mix-table-bold{
    border-right:1px solid #dddddd ;padding:8px; width: 100px;font-weight: bold;
}

.filter-container {
    display: inline-block;
    width: 90%;
}

.filter-action {
    display: inline-block;
    width: 180px;
    position: absolute;
    margin-left: 10px;
    margin-top: 16px;
}

.filter-action>button {
    min-width: 80px;
    margin: 2px;
}

.filter-head-1 {
    vertical-align: middle;
    background: #f7f3ee;
    font-weight: bold;
}

.filter-head-2 {
    vertical-align: middle;
    background: #fde7d5;
    font-weight: bold;
}

.filter-cmp {
    width: auto;
    display: inline-block;
    min-width: 120px;
}

.head-title {
    background-color: transparent;
    background-image: none;
    margin: 2px 2px;
    padding: 3px 5px;
    min-width: 80px;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
input[type=checkbox] {
    zoom: 1.5;
}
span {
    font-size: 14px;
    /* font-weight: bold; */
    padding-right: 10px;
}

