.date-range {
    z-index: 1000;
}

.date-range .picker {
    width: 45%;
    display: inline-block;
}

.date-range .picker.right {
    margin-left: 20px;
}

.date-range .label {
    color: #555555;
    padding: 14px 5px;
    position: absolute;
    display: inline-block;
    font-size: 100%;
}