<div class="date-range">
    <span class="picker">
        <my-date-picker style="width:60%;" [options]="myDatePickerOptions" [ngModel]="startDate" (dateChanged)="handleStartDateChange($event)" [required]="required"></my-date-picker>
        <select [ngModel]="hourAtStartDate" (change)="onSelectHourAtStartDate($event)" class="form-control filter-cmp" style="width: 20%">
          <option value="">H</option>
          <option *ngFor="let h of hoursInDay" value="{{h}}">{{h}}</option>
        </select>
        <select [ngModel]="minuteAtStartDate" (change)="onSelectMinuteAtStartDate($event)" class="form-control filter-cmp" style="width: 20%" [style.display]="displayMinute">
          <option value="">M</option>
          <option *ngFor="let m of minutesInHour" value="{{m}}">{{m}}</option>
        </select>
    </span>
    <span class="label">~</span>
    <span class="picker right">
        <my-date-picker style="width:60%;"  [options]="myDatePickerOptions" [ngModel]="endDate" (dateChanged)="handleEndDateChange($event)" [required]="required"></my-date-picker>
        <select [ngModel]="hourAtEndDate" (change)="onSelectHourAtEndDate($event)" class="form-control filter-cmp" style="width: 20%">
          <option value="">H</option>
          <option *ngFor="let h of hoursInDay" value="{{h}}">{{h}}</option>
        </select>
        <select [ngModel]="minuteAtEndDate" (change)="onSelectMinuteAtEndDate($event)" class="form-control filter-cmp" style="width: 20%" [style.display]="displayMinute">
          <option value="">M</option>
          <option *ngFor="let m of minutesInHour" value="{{m}}">{{m}}</option>
        </select>
    </span>
</div>