<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen">
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <form class="form-horizontal" novalidate
          [formGroup]="expensesForm">
        <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
            <table class="table table-bordered table-hover" style="width: 1024px;">
                <thead style="color: #337AB7">
                    <th class="col-sm-2">Amount</th>
                    <th class="col-sm-2">Date</th>
                    <th class="col-sm-2">Place</th>
                    <th class="col-sm-2">Payment Method</th>
                    <th class="col-sm-2">For Person</th>
                </thead>
                <tbody *ngIf="expensesDetails">
                    <!--<tr>-->
                        <!--<td colspan="5">{{expensesDetails.total | currency:'VND':true:'1.2-2'}} spent this month</td>-->
                    <!--</tr>-->
                    <tr *ngIf="!editHidden">
                        <td>
                            <input class="form-control"
                                   id="amountId"
                                   type="text"
                                   placeholder="Amount (required)"
                                   formControlName="amount"
                                   (keyup.enter)="editExpense()"
                            />
                        </td>
                        <td>
                            <div class='input-group date' id='datetimepicker2'>
                            <input class="form-control"
                                   id="dateId"
                                   type="date"
                                   placeholder="Date (required)"
                                   formControlName="date"
                                   #date
                                   (keyup.enter)="editExpense()"
                            />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <input class="form-control"
                                   id="placeId"
                                   type="text"
                                   placeholder="Enter a Place"
                                   formControlName="place"
                                   (keyup.enter)="editExpense()"
                            />
                        </td>
                        <td>
                            <select class="form-control"
                                    id="paymentMethodId"
                                    formControlName="paymentMethod"
                                    (keyup.enter)="editExpense()"
                            >
                                <option value="" disabled selected hidden>Select a method...</option>
                                <option value="-1">CASH</option>
                                <option value="{{method.id}}" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control"
                                   id="forPersonId"
                                   type="text"
                                   placeholder="Enter 'For Person'"
                                   formControlName="forPerson"
                                   (keyup.enter)="editExpense()"
                            />
                        </td>

                    </tr>
                    <tr *ngIf="editHidden">
                        <td>{{expenseEdit.amount | currency:'VND':true:'1.2-2'}}</td>
                        <td>{{expenseEdit.date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{expenseEdit.place}}</td>
                        <td>{{expenseEdit.paymentMethod}}</td>
                        <td>{{expenseEdit.forPerson}}</td>
                    </tr>
                    <tr *ngFor="let expense of expensesDetails.expenses">
                        <td>{{expense.amount | currency:'VND':true:'1.2-2'}}</td>
                        <td>{{expense.date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{expense.place}}</td>
                        <td>{{expense.paymentMethod == 'CASH' ? expense.paymentMethod : (expense.cardNumber + ', ' + expense.cardInfo)}}</td>
                        <td>{{expense.forPerson}}</td>
                    </tr>
                    <tr>
                        <td>{{expensesDetails.total | currency:'VND':true:'1.2-2'}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <!--<div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">-->
        <!--<table class="table table-bordered table-hover" style="width: 1024px;">-->
            <!--<thead style="color: #337AB7">-->
                <!--<th class="col-sm-2">Amount</th>-->
                <!--<th class="col-sm-2">Date</th>-->
                <!--<th class="col-sm-2">Place</th>-->
                <!--<th class="col-sm-2">Payment Method</th>-->
                <!--<th class="col-sm-2">For Person</th>-->
            <!--</thead>-->
            <!--<tr *ngFor="let expense of expenses">-->
                <!--<td>{{expense.amount | currency:'VND':true:'1.2-2'}}</td>-->
                <!--<td>{{expense.date | date: 'dd-MM-yyyy'}}</td>-->
                <!--<td>{{expense.place}}</td>-->
                <!--<td>{{expense.paymentMethod == 'CASH' ? expense.paymentMethod : (expense.cardNumber + ', ' + expense.cardInfo)}}</td>-->
                <!--<td>{{expense.forPerson}}</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->

    <br/>
    <br/>
    <br/>
    <!--<ng2-smart-table [settings]="settings" [source]="users"></ng2-smart-table>-->
    <modal (modalOutput)="getData($event)">
    </modal>
</div>