<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen">
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <form class="form-horizontal" novalidate
          [formGroup]="expensesForm">
        <div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">
            <table class="table table-bordered table-hover" style="width: 1145px;">
                <thead style="color: #337AB7">
                    <th class="col-sm-2">Amount</th>
                    <th class="col-sm-1">Date</th>
                    <th class="col-sm-2">Place</th>
                    <th class="col-sm-2">Payment Method</th>
                    <th class="col-sm-2">For Person</th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-3"></th>
                </thead>
                <tbody *ngIf="expensesDetails">
                    <!--<tr>-->
                        <!--<td colspan="5">{{expensesDetails.total | currency:'VND':true:'1.2-2'}} spent this month</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>
                            <input class="form-control"
                                   id="amountId"
                                   type="text"
                                   placeholder="Amount (required)"
                                   formControlName="amount"
                                   (keyup.enter)="editExpense()"
                            />
                        </td>
                        <td>
                            <input class="form-control"
                                   id="dateId"
                                   type="date"
                                   placeholder="Date (required)"
                                   formControlName="date"
                                   #date
                                   (keyup.enter)="editExpense()"
                            />
                            <!--<div class='input-group date' id='datetimepicker2'>-->
                            <!---->
                                <!--<span class="input-group-addon">-->
                                    <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                <!--</span>-->
                            <!--</div>-->
                        </td>
                        <td>
                            <input class="form-control"
                                   id="placeId"
                                   type="text"
                                   placeholder="Enter a Place"
                                   formControlName="place"
                                   (keyup.enter)="editExpense()"
                            />
                        </td>
                        <td>
                            <select class="form-control"
                                    id="paymentMethodId"
                                    formControlName="paymentMethod"
                                    (keyup.enter)="editExpense()"
                            >
                                <option value="" disabled selected hidden>Select a method...</option>
                                <option value="-1">CASH</option>
                                <option value="{{method.id}}" *ngFor="let method of paymentMethods">{{method.cardNumber}}</option>
                            </select>
                        </td>
                        <td>
                            <div class="form-inline">
                                <input class="form-control"
                                       id="forPersonId"
                                       type="text"
                                       placeholder="Enter 'For Person'"
                                       formControlName="forPerson"
                                       (keyup.enter)="editExpense()"
                                       style="width: 130px;"
                                />
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link" (click)="addEvent()">New Event</button>
                        </td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let expense of expensesDetails.expenses">
                        <td>{{expense.amount | currency:'VND':true:'1.2-2'}}</td>
                        <td>{{expense.date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{expense.place}}</td>
                        <td>
                            <span *ngIf="expense.anEvent == false">
                                {{expense.paymentMethod == 'CASH' ? expense.paymentMethod : (expense.cardNumber + ', ' + expense.cardInfo)}}
                            </span>
                        </td>
                        <td>{{expense.forPerson}}</td>
                        <td>
                            <button *ngIf="expense.anEvent" type="button" class="btn btn-link" (click)="openEvent(expense.id)">Event</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link" (click)="deleteExpense(expense.id)">Delete</button> |
                            <button type="button" class="btn btn-link" (click)="updateExpense(expense.id)">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{expensesDetails.total | currency:'VND':true:'1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <!--<div class="table-responsive" align="center" style="width:100%;overflow:auto; max-height:500px;">-->
        <!--<table class="table table-bordered table-hover" style="width: 1024px;">-->
            <!--<thead style="color: #337AB7">-->
                <!--<th class="col-sm-2">Amount</th>-->
                <!--<th class="col-sm-2">Date</th>-->
                <!--<th class="col-sm-2">Place</th>-->
                <!--<th class="col-sm-2">Payment Method</th>-->
                <!--<th class="col-sm-2">For Person</th>-->
            <!--</thead>-->
            <!--<tr *ngFor="let expense of expenses">-->
                <!--<td>{{expense.amount | currency:'VND':true:'1.2-2'}}</td>-->
                <!--<td>{{expense.date | date: 'dd-MM-yyyy'}}</td>-->
                <!--<td>{{expense.place}}</td>-->
                <!--<td>{{expense.paymentMethod == 'CASH' ? expense.paymentMethod : (expense.cardNumber + ', ' + expense.cardInfo)}}</td>-->
                <!--<td>{{expense.forPerson}}</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->

    <br/>
    <br/>
    <br/>
    <!--<ng2-smart-table [settings]="settings" [source]="users"></ng2-smart-table>-->
    <modal (modalOutput)="getData($event)">
    </modal>
</div>