<div class="filter-container">
                                      <table class="table table-bordered">
                                        <tr>
                                          <td class="filter-head-1">{{'bestDealsComparision.label.checkingTime'|translate}}</td>
                                          <td colspan="3">
                                            <date-time-range [(startDate)]="filter.fromDateTime" [(hourAtStartDate)]="filter.hourAtStartDate" [displayMinute]="'none'"
                                                                               [(endDate)]="filter.toDateTime"
                                                                               [(hourAtEndDate)]="filter.hourAtEndDate" required [displayMinute]="'none'"></date-time-range>
                                          </td>

                                        </tr>
                                          <tr>
                                              <td class="filter-head-1">{{'bestDealsComparision.label.dealName'|translate}}</td>
                                              <td colspan="3">
                                                <input type="text" size="10" id="dealName" [(ngModel)]="filter.dealName"
                                                    class="form-control input-search" style="width: 40%"/>
                                                <span id="errorDealNameSp" style="display: none;">{{'message.error_invalid_input_text' | translate}}</span>
                                              </td>
                                          </tr>

                                          <tr>
                                            <td class="filter-head-1">{{'bestDealsComparision.label.exposure'|translate}}</td>
                                            <td colspan="2">
                                                <div style="float: left; margin-right: 10px">
                                                    <input type="checkbox" [(ngModel)]="filter.isShowCategory" (change)="onSearch()"/>{{'bestDealsComparision.label.categoryCheckbox'|translate}}
                                                </div>
                                                <div>
                                                    <input type="checkbox" [(ngModel)]="filter.isShowDealNo" (change)="onSearch()"/>{{'bestDealsComparision.label.dealNoCheckbox'|translate}}
                                                </div>
                                            </td>
                                        </tr>
                                      </table>
                                    </div>
                                      <div class="filter-action">
                                        <button style="width: 120px; color: white;" type="button" (click)="onSearch()" class="btn btn-primary" [disabled]="disableSearch">{{'bestDealsComparision.button.search'|translate}}</button>
                                        <button style="width: 120px; color: white;" type="button" (click)="onExportExcel()" class="btn btn-warning">{{'bestDealsComparision.button.downloadExcel'|translate}}</button>
                                      </div>

                                      <div style="width: 100%">
                                            <div id="product-search" style="overflow-x: auto; max-height: 500px">
                                                <smart-table [settings]="bestDealDataSettings" [sources]="bestDealPagging">
                                                </smart-table>
                                            </div>
                                            <div style="text-align: center">
                                                <pagination [(ngModel)]="pagination.pageRequest.page" (pageChanged)="onPaginationChanged($event)"
                                                    [boundaryLinks]="false" [totalItems]="pagination.totalItems"
                                                    [maxSize]="10" [itemsPerPage]="pagination.itemPerPage" class="pagination-sm"
                                                    previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
                                            </div>
                                      </div>