<div class="filter-container" style="width: 800px;">
    <table class="table table-bordered">
        <tr>
            <td class="filter-head-1">{{'monitorUserActivities.label.checkingTime'|translate}}</td>
            <td colspan="3">
                <date-range [(startDate)]="filter.fromDateTime" [(endDate)]="filter.toDateTime"></date-range>
            </td>
            <td>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Y" [checked]="filter.graphSearch=='Y'" (change)="handleGraphChange($event)" >
                        <label class="form-check-label">{{'monitorUserActivities.label.graphName1'|translate}}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="N" [checked]="filter.graphSearch=='N'" (change)="handleGraphChange($event)" >
                        <label class="form-check-label">{{'monitorUserActivities.label.graphName2'|translate}}</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="filter-action">
    <button style="width: 120px; color: white;" type="button" (click)="onSearch()" class="btn btn-primary" [disabled]="disableSearch">{{'monitorUserActivities.button.search'|translate}}</button>
</div>
<div style="width: 100%">
    <div id="product-search" style="overflow-x: auto; max-height: 500px">
        <smart-table [settings]="activityDataSettings" [sources]="auditActionPagging">
        </smart-table>
    </div>
    <div style="text-align: center">
        <pagination [(ngModel)]="pagination.pageRequest.page" (pageChanged)="onPaginationChanged($event)"
                    [boundaryLinks]="false" [totalItems]="pagination.totalItems"
                    [maxSize]="10" [itemsPerPage]="pagination.itemPerPage" class="pagination-sm"
                    previousText="PREV" nextText="NEXT" firstText="FIRST" lastText="LAST"></pagination>
    </div>
</div>

<div class="row" style="width: 1340px;margin-left: 25px;" [hidden]="!filter.isShowAnalysis">
    <div class="col-md-8">
        <svg width="800" height="400"></svg>
    </div>

</div>