<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">{{title | translate}}</h4>
        </div>
        <div class="modal-body" style="min-height: 130px;">
            <div style="float: left;"><img src="static/images/dialog/alert.png" border="0" width="100"/>
            </div>
            <div style="margin-left: 150px;">
                <p>{{message | translate}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="close()">OK</button>
        </div>
    </div>
</div>