<filter-panel>
    <div class="row">
        <div class="col-sm-1">
            <select [(ngModel)]="competitorByCategoryFilter.baseDate" class="form-control" id="baseDate">
                <option value="saledate" selected>매출시점 기준</option>
                <option value="startdate">시작일 기준</option>
            </select>
        </div>

        <div class="col-sm-3">
            <date-range [(startDate)]="competitorByCategoryFilter.startDate" [(endDate)]="competitorByCategoryFilter.endDate" required></date-range>
            <br/><label>{{'label.recommend_range_date'|translate}}</label>
        </div>
        <div class="col-sm-1">
            <select [(ngModel)]="viewMode" class="form-control" id="viewMode" (change) ="onChangeViewMode($event)">
                <option value="" selected></option>
                <option value="competitor">경쟁사로 묶기</option>
                <option value="category" >카테고리로 묶기</option>
            </select>
        </div>
        <div class="col-sm-1">
            <select [(ngModel)]="competitorByCategoryFilter.dateUnit" class="form-control" id="dateUnit">
                <option value="" selected></option>
                <option value="daily">일 단위</option>
                <option value="weekly">주 단위</option>
                <option value="monthly">월 단위</option>

            </select>
        </div>

        <div class="col-sm-2">
            <button style="min-width: 80px;" type="button" (click)="onSearch()" class="btn btn-primary">{{'label.search'|translate}}</button>
            <button style="min-width: 80px;" type="button" (click)="onReset()" class="btn btn-warning">{{'label.reset'|translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class ="col-sm-12">
            <div *ngFor="let comp of competitors" >
                <input type=checkbox name ="options" value="{{comp.coId}}" [checked]="comp.selected"
                       (change)="updateCompetitorCheckedOptions(comp, $event)" /> {{comp.name}}
            </div>
        </div>

    </div>
    <!--<div class="row" >
        <div class="col-sm-12">
            <filter-btn [sources]="cat1Depths" (onSelect)="handleClickCat1Depth($event)"></filter-btn>
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-12">
            <filter-btn [sources]="cat2Depths" (onSelect)="handleClickCat2Depth($event)"></filter-btn>
        </div>
    </div>
</filter-panel>
<div id="tbl-content" class="tab-content">
    <div class="col-sm-12">
        <div id="competitor-by-category-list" style="overflow-x: auto;">
            <smart-table [settings]="dataSettings" [sources]="dataContents" >

            </smart-table>
        </div>
        <pagination [(ngModel)]="pagination.pageRequest.page" (pageChanged)="onPaginationChanged($event)" [boundaryLinks]="false" [totalItems]="pagination.totalItems"
                    [maxSize]="pagination.maxSize" [itemsPerPage]="pagination.itemPerPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>

</div>

